<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обновление данных пользователя</title>
</head>
<body>
    <h1>Обновление данных пользователя пользователя</h1>
    <form method="POST">
        <label for="phonenumber">Телефонный номер:</label>
        <input type="text" id="phonenumber" name="phonenumber" required><br><br>

        <input type="submit" value="Обновить">
    </form>
</body>
</html>